[submodule "application/third_party/vendor/markbaker/complex"]
	path = application/third_party/vendor/markbaker/complex
	url = https://github.com/markbaker/complex.git
[submodule "application/third_party/vendor/markbaker/matrix"]
	path = application/third_party/vendor/markbaker/matrix
	url = https://github.com/markbaker/matrix.git
[submodule "application/third_party/vendor/phpoffice/phpspreadsheet"]
	path = application/third_party/vendor/phpoffice/phpspreadsheet
	url = https://github.com/PHPOffice/PhpSpreadsheet.git
[submodule "application/third_party/vendor/psr/http-client"]
	path = application/third_party/vendor/psr/http-client
	url = https://github.com/php-fig/http-client.git
[submodule "application/third_party/vendor/psr/http-factory"]
	path = application/third_party/vendor/psr/http-factory
	url = https://github.com/php-fig/http-factory.git
[submodule "application/third_party/vendor/psr/simple-cache"]
	path = application/third_party/vendor/psr/simple-cache
	url = https://github.com/php-fig/simple-cache.git
