/*
 * Dandelion Admin v1.2 - Panel Stylesheet
 *
 * This file is part of Dandelion Admin, an Admin template build for sale at ThemeForest.
 * For questions, suggestions or support request, please mail me at maimairel@yahoo.com
 *
 * Development Started:
 * March 25, 2012
 * Last Update:
 * July 25, 2012
 *
 * ===============================================
 * Table of Contents
 * ===============================================
 *
 * 1. Panel Clearfix
 * 2. Panel
 * 3. Scrollable Panels
 * 4. Additional Panel Styles
 *
 */

/* (1) Panel Clearfix
================================================== */

div.da-panel:after,
div.da-panel-pro:after,div.da-panel-pro .da-panel-content:after,
div.da-panel .da-panel-content:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}


div.da-panel,div.da-panel-pro,div.da-panel-pro .da-panel-content,  div.da-panel .da-panel-content1,
div.da-panel .da-panel-content {
	display: inline-block;
}

* html div.da-panel,div.da-panel-pro,div.da-panel-pro .da-panel-content, div.da-panel .da-panel-content1,
* html div.da-panel .da-panel-content {
	height: 1%;
}

div.da-panel, div.da-panel .da-panel-content1,
div.da-panel-pro .da-panel-content,
div.da-panel .da-panel-content {
	display: block;
}



/* (2) Panel
================================================== */
div.da-panel-pro
{
	margin-bottom:20px;
	position:relative;
	width:100%;
	margin-top:20px;
	border-top:1px solid #bfbfbf;
	/* CSS 3 */
	
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	
	-webkit-transition:all 100ms ease-out;
	-o-transition:all 100ms ease-out;
	-moz-transition:all 100ms ease-out;
	transition:all 100ms ease-out;	
}
div.da-panel,
div.da-panel-widget
{
	margin-bottom:20px;
	margin-top:20px;
	/* CSS 3 */
	position:relative;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	
	-webkit-transition:all 100ms ease-out;
	-o-transition:all 100ms ease-out;
	-moz-transition:all 100ms ease-out;
	transition:all 100ms ease-out;	
}

div.da-panel .da-panel-header
{
	
	display:block !important;
	position:relative;
	border:1px solid #bfbfbf;
	background-image:url(../../images/panel-header.png);
	padding:0 16px;
	
	/* CSS 3 */
	
	-webkit-border-radius:3px 3px 0 0;
	-o-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-o-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
}

div.da-panel .da-panel-header .da-panel-title
{
	font-size:16px;
	display:block;
	line-height:20px;
	padding:16px 0;
	margin-right:32px;
}

div.da-panel .da-panel-header .da-panel-title img
{
	max-height:16px;
	max-width:16px;
	display:inline;
	margin-right:4px;
}

div.da-panel .da-panel-header .da-panel-toggler
{
	background:url(../../images/icons/black/16/bended_arrow_up.png) no-repeat center center;
	border-left:1px solid #c3c3c3;
	margin-top:-26px;
	height:16px;
	width:32px;
	padding:18px 0;
	padding-right:16px;
	display:block;
	position:absolute;
	right:0; top:50%;
	cursor:pointer;
}

div.da-panel.collapsed .da-panel-header .da-panel-toggler
{
	background-image:url(../../images/icons/black/16/bended_arrow_down.png);
}

div.da-panel.collapsed > *
{
	display:none;
}

div.da-panel .da-panel-content,div.da-panel-pro .da-panel-content, div.da-panel .da-panel-content1,
div.da-panel-widget
{
	background-color:white;
	background-image:url(../../images/panel-content.png);
	background-repeat:repeat-x;
	background-position:left top;
	border:1px solid #bfbfbf;
}

div.da-panel .da-panel-content,div.da-panel-pro .da-panel-content,div.da-panel .da-panel-content1
{
	border-top:0;
}

/* (3) Scrollable Panels
================================================== */

div.da-panel.scrollable .da-panel-content .viewport
{
	overflow: hidden;
	position: relative;
}

div.da-panel.scrollable .da-panel-content .viewport .overview
{
	position: absolute;
	left: 0;
	top: 0;
}

div.da-panel.scrollable .da-panel-content .scrollbar
{
	width: 10px;
	height:16px;
	padding:3px 0;
	background-color: #ffffff;
	border-top:1px solid #d0d0d0;
}

div.da-panel.scrollable .da-panel-content .scrollbar .track
{
	height: 16px;
	width:10px;
	background:url(../../images/scrollbar-track-bg.png) repeat-x;
	position: relative;
}

div.da-panel.scrollable .da-panel-content .scrollbar .thumb
{
	height: 13px;
	width: 10px;
	margin-top:1px;
	border-top:1px solid #ffffff;
	cursor: pointer;
	overflow: hidden;
	top: 0;
	position: absolute;
	background:#f0f0f0 url(../../images/scrollbar-grip.png) center center no-repeat;
}

div.da-panel.scrollable .da-panel-content .scrollbar .thumb .end
{
	display:none;
}

div.da-panel.scrollable .da-panel-content .disable
{
	display: none;
}

/* (4) Additional Panel Styles
================================================== */

div.da-panel .da-panel-content.with-padding, div.da-panel .da-panel-content1.with-padding, div.da-panel-widget,div.da-panel-pro .da-panel-content.with-padding
{
	padding:1em 1.2em;
}
div.da-panel .da-panel-content .EditSystem,
div.da-panel-pro .da-panel-content .AddSystem,
div.da-panel-pro .da-panel-content .EditSystem
{
	display:inline-block;
	width:18%;
	float:left;
	padding:5px 0px 5px 5px;
	margin:3px 3px 3px 3px;
	border:2px solid WhiteSmoke;
	cursor: pointer;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	font-size:14px;
	-webkit-transition:all 100ms ease-out;
	-o-transition:all 100ms ease-out;
	-moz-transition:all 100ms ease-out;
	transition:all 100ms ease-out;	
}
div.da-panel .da-panel-content .EditSystem .Icon,
div.da-panel-pro .da-panel-content .EditSystem .Icon
{
	display:inline-block;
	width:100%;
}
div.da-panel .da-panel-content .EditSystem .Icon img,
div.da-panel-pro .da-panel-content .EditSystem .Icon img
{	
	height:60px;
	width:60px;
}
div.da-panel .da-panel-content .EditSystem .Desc,
div.da-panel-pro .da-panel-content .EditSystem .Desc
{
	display:inline-block;
	width:100%;
	word-wrap:break-word;
}

div.da-panel .da-panel-content .System
{
	display:inline-block;
	clear: both;
	width:100%;
	margin-bottom:20px;
	position:relative;

	padding:1px;
	/* CSS 3 */
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	
	-webkit-transition:all 100ms ease-out;
	-o-transition:all 100ms ease-out;
	-moz-transition:all 100ms ease-out;
	transition:all 100ms ease-out;	
	

}
div.da-panel .da-panel-content .System .System-header
{
	font-style:Bold;
	font-size:16px;
	display:block !important;
	position:relative;
	border:1px solid #bfbfbf;
	background:WhiteSmoke;
	padding:8px 8px 8px 16px;
	cursor: pointer;
	
	-webkit-border-radius:3px 3px 0 0;
	-o-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-o-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
}

div.da-panel .da-panel-content .System .System-content
{
	background-color:white;
	background-repeat:repeat-x;
	background-position:left top;
	padding: 3px;
	
}
div.da-panel .da-panel-content .System .System-content .Permission,
div.da-panel .da-panel-content .Permission
{
	display:inline-block;
	width:29%;
	float:left;
	padding:4px 0px 4px 4px;
	margin:5px 5px 5px 5px;
	border:2px solid WhiteSmoke;
	cursor: pointer;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-transition:all 100ms ease-out;
	-o-transition:all 100ms ease-out;
	-moz-transition:all 100ms ease-out;
	transition:all 100ms ease-out;	
}
div.da-panel .da-panel-content .System .System-content .Permission .Gear,
div.da-panel .da-panel-content .Permission .Gear
{
	display:inline-block;
	width:28%;
	
}
div.da-panel .da-panel-content .System .System-content .Permission .Gear img,
div.da-panel .da-panel-content .Permission .Gear img
{
	width:60px;
	height:60px;
}
div.da-panel .da-panel-content .System .System-content .Permission .Desc,
div.da-panel .da-panel-content .Permission .Desc
{
	display:inline-block;
	width:69%;
	float:right;
	font-size:14px;
	word-wrap:break-word;
}

div.da-panel .da-panel-content .System:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.ui-state-highlight { 
/*	height: 150px; 
	margin-bottom:19px;*/
	/* CSS 3 */
}
.ui-state-highlight2 { 
	height: 40px; 
	background-color:lightblue;
	/* CSS 3 */
}
.ui-state-highlight3 { 
	padding-left:50px;
	height: 27px;
	background-color:lightgreen;
	/* CSS 3 */
}
div.da-panel .da-panel-content .Menu,div.da-panel .da-panel-content1 .Add
{
	display:inline-block;
	background:WhiteSmoke;
	clear: both;
	position:relative;
	/* CSS 3 */
	width:100%;
	border:1px #bfbfbf;
}

div.da-panel .da-panel-content .Menu .Menu-header
{
	font-style:Bold;
	font-size:16px;
	display:block !important;
	position:relative;
	border:1px solid #bfbfbf;
	padding:8px 8px 8px 16px;
	cursor: pointer;
	
}
div.da-panel .da-panel-content1 .Add .Menu-header 
{
	font-style:Bold;
	font-size:16px;
	display:block !important;
	position:relative;
	border:1px solid #bfbfbf;
	padding:8px 8px 8px 16px;

}
div.da-panel .da-panel-content1 .Add .Menu-header img
{
	cursor: pointer;
}
div.da-panel .da-panel-content .Menu .Menu-header .Desc,div.da-panel .da-panel-content1 .Add .Menu-header .Desc
{
	display:inline-block;
	clear: both;
	width:80%;
	position:relative;
	word-wrap:break-word;
	/* CSS 3 */
}
div.da-panel .da-panel-content .Menu .Menu-header .option,div.da-panel .da-panel-content1 .Add .Menu-header .option
{
	display:inline-block;
	clear: both;
	width:18.5%;
	position:relative;
	text-align:right;
	font-size:20px
	
	/* CSS 3 */
}

div.da-panel .da-panel-content .Menu .Menu-content
{
	background-repeat:repeat-x;
	background-position:left top;
	background:ghostwhite;
	width:100%;
	position:relative;
	
}
div.da-panel .da-panel-content .Menu .Menu-content .SubMenu
{
	height:2em;
	display:inline-block;
	font-size:14px;
	cursor:pointer;
	width:99.8%;
	border-bottom:1px solid #bfbfbf;
	border-left:1px solid #bfbfbf;
	border-right:1px solid #bfbfbf;
	
}


div.da-panel .da-panel-content .Menu .Menu-content .SubMenu .Sub-header .Desc
{
	display:inline-block;
	width:80%;
	text-indent:4%;
	word-wrap:break-word;
}

div.da-panel .da-panel-content .Menu .Menu-content .SubMenu .Sub-header .Opt
{
	display:inline-block;
	width:18%;
	text-align:right;
}




div.da-panel .da-panel-content .Menu .Menu-content .SubMenu .Sub-content .SubSubMenu
{
	height:2em;
	display:inline-block;
	font-size:14px;
	cursor:pointer;
	width:99.9%;
	border-top:1px solid #bfbfbf;
	border-left:1px solid #bfbfbf;
	border-right:1px solid #bfbfbf;

}


div.da-panel .da-panel-content .Menu .Menu-content .SubMenu .Sub-content .SubSubMenu .SubSub-header .SSDesc
{
	display:inline-block;
	clear: both;
	width:80%;
	position:relative;
	text-indent:8%;
	word-wrap:break-word;
	/* CSS 3 */
}




div.da-panel .da-panel-content .Menu .Menu-content .SubMenu .Sub-content .SubSubMenu .SubSub-content .Sub3Menu
{
	height:2em;
	display:inline-block;
	font-size:14px;
	cursor:pointer;
	width:99.9%;
	border-top:1px solid #bfbfbf;
	border-left:1px solid #bfbfbf;
	border-right:1px solid #bfbfbf;
}
div.da-panel .da-panel-content .Menu .Menu-content .SubMenu .Sub-header,
div.da-panel .da-panel-content .Menu .Menu-content .SubMenu .Sub-content .SubSubMenu .SubSub-header,
div.da-panel .da-panel-content .Menu .Menu-content .SubMenu .Sub-content .SubSubMenu .SubSub-content .Sub3Menu .Sub3-header,
div.da-panel .da-panel-content .Menu .Menu-content .SubMenu .Sub-content .SubSubMenu .SubSub-content .Sub3Menu .Sub3-content .Sub4Menu .Sub4-header
{
	display:block !important;
	position:relative;
	padding-top:4px;
}
div.da-panel .da-panel-content .Menu .Menu-content .SubMenu .Sub-content .SubSubMenu .SubSub-content .Sub3Menu .Sub3-header .S3Desc
{
	display:inline-block;
	clear: both;
	width:80%;
	position:relative;
	text-indent:12%;
	word-wrap:break-word;
	/* CSS 3 */
}
div.da-panel .da-panel-content .Menu .Menu-content .SubMenu .Sub-content .SubSubMenu .SubSub-header .SSOpt,
div.da-panel .da-panel-content .Menu .Menu-content .SubMenu .Sub-content .SubSubMenu .SubSub-content .Sub3Menu .Sub3-header .S3Opt,
div.da-panel .da-panel-content .Menu .Menu-content .SubMenu .Sub-content .SubSubMenu .SubSub-content .Sub3Menu .Sub3-content .Sub4Menu .Sub4-header .S4Opt
{
	display:inline-block;
	clear: both;
	width:18%;
	position:relative;
	text-align:right;

	/* CSS 3 */
}
div.da-panel .da-panel-content .Menu .Menu-content .SubMenu .Sub-content,
div.da-panel .da-panel-content .Menu .Menu-content .SubMenu .Sub-content .SubSubMenu .SubSub-content,
div.da-panel .da-panel-content .Menu .Menu-content .SubMenu .Sub-content .SubSubMenu  .SubSub-content .Sub3Menu .Sub3-content
{
	background-repeat:repeat-x;
	background-position:left top;
	background:ghostwhite;
	width:100%;
	position:relative;
	border-bottom:1px solid #bfbfbf;
	padding-top:4px;
}

div.da-panel .da-panel-content .Menu .Menu-content .SubMenu .Sub-content .SubSubMenu .SubSub-content .Sub3Menu .Sub3-content .Sub4Menu
{
	height:2em;
	display:inline-block;
	font-size:14px;
	cursor:pointer;
	width:99.9%;
	border-top:1px solid #bfbfbf;
	border-left:1px solid #bfbfbf;
	border-right:1px solid #bfbfbf;
}


div.da-panel .da-panel-content .Menu .Menu-content .SubMenu .Sub-content .SubSubMenu .SubSub-content .Sub3Menu .Sub3-content .Sub4Menu .Sub4-header .S4Desc
{
	display:inline-block;
	clear: both;
	width:80%;
	position:relative;
	text-indent:15%;
	word-wrap:break-word;
	/* CSS 3 */
}


.clear,
div.da-panel .da-panel-content .Menu:after ,
div.da-panel .da-panel-content .Menu .Menu-content .SubMenu :after ,
div.da-panel .da-panel-content .Menu .Menu-content .SubMenu .SubMenu-content .SubSubMenu :after,
div.da-panel .da-panel-content .Menu .Menu-content .SubMenu .Sub-content .SubSubMenu .SubSub-content .Sub3Menu :after, 
div.da-panel .da-panel-content .Menu .Menu-content .SubMenu .Sub-content .SubSubMenu .SubSub-content .Sub3Menu .Sub3-content .Sub4Menu :after,
div .da-panel .da-panel-content .config-header:after
{
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

div .da-panel .da-panel-content .config-header
{
	display:inline-block;
	border:1px solid #bfbfbf;
	margin-bottom:2%;
	width:100%;
	-webkit-border-radius:3px 3px 0 0;
	-o-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-o-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
}
div .da-panel .da-panel-content .config-gear
{
	display:inline-block;
	border:1px solid #bfbfbf;
	margin-bottom:2%;
	width:10%;
	
	-webkit-border-radius:3px 3px 0 0;
	-o-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-o-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
}
div .da-panel .da-panel-content .config-menu
{
	display:inline-block;
	border:1px solid #bfbfbf;
	margin-bottom:2%;
	width:40%;
	-webkit-border-radius:3px 3px 0 0;
	-o-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-o-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
}
div .da-panel .da-panel-content .config-header .header,
div .da-panel .da-panel-content .config-menu .header,
div .da-panel .da-panel-content .config-gear .header
{
	text-indent:1em;
	font-style:Bold;
	font-size:16px;
	display:block !important;
	position:relative;
	border:1px solid #bfbfbf;
	background:WhiteSmoke;
	
	-webkit-border-radius:3px 3px 0 0;
	-o-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-o-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
}
div .da-panel .da-panel-content .config-header .content,
div .da-panel .da-panel-content .config-menu .content,
div .da-panel .da-panel-content .config-gear .content
{
	padding:1em 1.2em;
	display:inline-block;
	width:96%;
	clear: both;
	position:relative;
	/* CSS 3 */
	
	border:1px #bfbfbf;
}
div .da-panel .da-panel-content .console{
	text-indent:1em;
	font-style:Bold;
	font-size:16px;
	display:inline-block;
	position:relative;
	border:1px solid #bfbfbf;
	background:WhiteSmoke;
	width:98%;
	-webkit-border-radius:3px 3px 0 0;
	-o-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-o-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
}

div .da-panel .da-panel-content .config-gear .content img
{
	margin-left:5%;
	width:60px;
	height:60px;
	
}
div .da-panel .da-panel-content .console .header{
	font-style:Bold;
	font-size:16px;
	display:block !important;
	position:relative;
	border:1px solid #bfbfbf;
	background:WhiteSmoke;
	
	-webkit-border-radius:3px 3px 0 0;
	-o-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-o-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
}
div .da-panel .da-panel-content .console .content{
	background-repeat:repeat-x;
	background-position:left top;
}
div .da-panel .da-panel-content .console .content td
{
	text-align:center;
	padding :10px;
	margin:5px;
}
div .da-panel .da-panel-content .console .content th
{
	text-align:center;
	padding :5px;
	margin:5px;
	width:18%;
}
div .da-panel .da-panel-content .console .content .ExBut{
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	border: 1px solid white;
	display: inline-block;
	margin: auto;
	margin-left:10px;
	text-decoration: none;
	width:36px; height:36px;
}
div .da-panel .da-panel-content .console .content .ExBut img {
	width:20px;
	height:20px;
	margin-top:7px;
}

/* --------------------------PRO------------------------- */

div .system-menu {
	display:inline-block;
	width:87%;
	margin-top:2%;
	margin-left:5%;
	margin-right:5%;
	padding:1%;
	padding-left:1.4%;
	background:#fff;
	position:relative;
	float:left;
	border:1px solid #bfbfbf;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	
	-webkit-transition:all 100ms ease-out;
	-o-transition:all 100ms ease-out;
	-moz-transition:all 100ms ease-out;
	transition:all 100ms ease-out;	
}
div .system-menu:after, .system-info:after{
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
div .system-menu .menu-item {
	cursor:pointer;
	display:inline-block;
	width: 18%;
	height:50%;
	margin: 0.5%;
	margin-right:1.1%;
	background:#00adf2;
	color:white;
	font-size:20px;
	border:1px solid #bfbfbf;
	-webkit-border-radius:3px 3px 0 0;
	-o-border-radius:3px 3px 0 0;
	-moz-border-radius:0 0 3px 3px;
	border-radius:3px 3px 3px 3px;
	
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-o-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
}
div .system-menu .menu-item img {
	width:20%;
	margin:5%;
	display:inline-block;
}
div .system-info {
	position:relative;
	display:inline-block;
	margin-top:2%;
	margin-left:5%;
	border:1px solid #bfbfbf;
	width:70%;
	background:white;
	border:1px solid #bfbfbf;
	-webkit-border-radius:3px 3px 0 0;
	-o-border-radius:3px 3px 0 0;
	-moz-border-radius:0 0 3px 3px;
	border-radius:3px 3px 3px 3px;
	
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-o-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
}

div .system-info .info-head{
	position:relative;
	background:#e1e6e2;
	height:5%;
	font-size:20px;
	border-bottom:1px solid #bfbfbf;
}
div .system-info .info-head img{
	width:5%;
	height:5%;
	margin:0.5% 1% 0.5% 1%;
}
div .system-info .info-content{
	padding:2%;
	padding-top:0;
	display:inline-block;
	position:relative;
	float:left;
	width:99%;
	
}
div .system-info .info-content .system-icon {
	display:inline-block;
	width:65%;
	height:80%;
	border:1px solid #bfbfbf;
	margin-right:1%;
	margin-top:7%;
}
div .system-info .info-content .system-icon img {
	max-width:90%;
	max-height:80%;
	margin:3%;
	margin-top:0;
}
div .system-info .info-content .system-content {
	display:inline-block;
	width:65%;
	font-size:16px;
}
div .system-info .info-content .system-content table{
	width:100%;
	margin-top:5%;
}
div.system-info .info-content .system-content td{
	margin:1%;
	padding-top:3%;
}
div .system-info .info-content .edit-icon{
	display:inline-block;
	width:30%;
	float:right;
	padding-right:18%;
	padding-top:1%;
	cursor:pointer;
}
div .system-user {
	display:inline-block;
	background:white;
	width:15%;
	margin-left:1%;
	position:absolute;
	margin-top:2%;
	border:1px solid #bfbfbf;
	padding-top:0.8em;
	padding-left:1.8em;
	padding-right:1.8em;
	padding-bottom:0.8em;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	
	-webkit-transition:all 100ms ease-out;
	-o-transition:all 100ms ease-out;
	-moz-transition:all 100ms ease-out;
	transition:all 100ms ease-out;	
}
div .system-user h{
	font-size:20px;
}
div .system-user .actor {
	position:relative;
	border:1px solid #bfbfbf;
	padding:1em;
	margin-top:3%;
	
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	
	-webkit-transition:all 100ms ease-out;
	-o-transition:all 100ms ease-out;
	-moz-transition:all 100ms ease-out;
	transition:all 100ms ease-out;
}
div .system-user .actor img {
	width:20%;
}
div .profile{
	color:black;
	-webkit-border-radius:2px;
	-o-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	
	-webkit-appearance:none;
	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(255, 255, 255, 0.35);
	-o-box-shadow:0 1px 1px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(255, 255, 255, 0.35);
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(255, 255, 255, 0.35);
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(255, 255, 255, 0.35);
	
	display:inline-block;
	margin-left:35%;
	margin-right:3%;
	width:15%;
	height:25px;
	padding-top:5px;
	text-align:center;
	background-color:#26b5ed;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(167,208,55)),
		color-stop(1, rgb(200,227,66))
	);
}
div .faculty{
	color:black;
	-webkit-border-radius:2px;
	-o-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	
	-webkit-appearance:none;
	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(255, 255, 255, 0.35);
	-o-box-shadow:0 1px 1px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(255, 255, 255, 0.35);
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(255, 255, 255, 0.35);
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(255, 255, 255, 0.35);
	
	display:inline-block;
	width:15%;
	height:25px;
	padding-top:5px;
	text-align:center;
	background-color:#f5760e;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(167,208,55)),
		color-stop(1, rgb(200,227,66))
	);
}
div .addPeople{
	color:black;
	-webkit-border-radius:2px;
	-o-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	
	-webkit-appearance:none;
	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(255, 255, 255, 0.35);
	-o-box-shadow:0 1px 1px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(255, 255, 255, 0.35);
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(255, 255, 255, 0.35);
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(255, 255, 255, 0.35);
	
	display:inline-block;
	width:15%;
	margin-left:45%;
	height:25px;
	padding-top:5px;
	text-align:center;
	background-color:#32bf22;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(167,208,55)),
		color-stop(1, rgb(200,227,66))
	);
}
